@import "tailwindcss";
@import "tw-animate-css";

:root {
  --background: oklch(1 0 0);
  --foreground: oklch(0.141 0.005 285.823);
  --primary: oklch(0.646 0.222 41.116);
  --primary-foreground: oklch(0.98 0.016 73.684);
  --secondary: oklch(0.988 0.009 67.727);
  --secondary-foreground: oklch(0.216 0.006 56.043);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --destructive-foreground: oklch(0.985 0 0);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);

  /*noinspection CssUnresolvedCustomProperty*/
  --font-sans: var(--font-nunito);
}

@layer base {
  * {
    @apply border-primary/10 outline-primary/50;
  }

  body {
    @apply bg-background text-foreground text-balance;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply leading-6;
  }

  @media (any-hover: hover) {
    button:not(:disabled),
    [role="button"]:not(:disabled) {
      @apply cursor-pointer;
    }
  }

  input[type="search"]::-webkit-search-decoration,
  input[type="search"]::-webkit-search-cancel-button,
  input[type="search"]::-webkit-search-results-button,
  input[type="search"]::-webkit-search-results-decoration {
    display: none;
  }

  html {
    @apply scroll-smooth;
  }

  @media screen and (prefers-reduced-motion: reduce) {
    html {
      @apply scroll-auto;
    }
  }
}
